@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
     <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    </environment>    
  </head>
  <body>
    <div id="wrap">
      <div id="regbar">
          <div id="navthing">
            <h3><a href="#" id="menuLogin">Acesso Restrito</a></h3>
            <div class="loginForm">
              <div class="arrow-up"></div>
                <div class="formholder">
                  <div class="randompad">
                    <fieldset>
                      <label>Usuário:</label>
                      <input id="usuario" type="text" value="" placeholder="Informe o seu usuário..." />
                      <label name="password">Senha:</label>
                      <input id="senha" type="password" placeholder="Informe sua senha..." />
                      <input id="login" type="submit" value="Login" style="cursor: pointer;"/>
                    </fieldset>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="text-center">
        <div style="margin-left: 37%;" class="formholder">
          <div class="randompad">
            <fieldset>
              <label>Prezado convidado, por favor informe o código anexado ao seu convite para confirmar a sua presença:</label>
              <input id="codConfirmacao" type="text" value="" placeholder="Informe o código aqui..." />
              <button id="btnConfirmar" class="btn btn-success" style="cursor: pointer;">Confirmar</button>
            </fieldset>
          </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p style="color: white;">&copy; 2018 - Desenvolvido por Samuel Reis</p>
        </footer>
    </div>

    <environment include="Development">
          <script src="~/lib/jquery/dist/jquery.js"></script>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>        
          <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
          <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
          <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <script>
      $("#menuLogin").click(function(){
        $("#usuario").val("");
        $("#senha").val("");
        $(".loginForm").fadeToggle("slow");
        $(this).toggleClass("green");        
      });

      $(".loginForm").mouseleave(function(){
         $(".loginForm").fadeToggle("slow");
      });

      $("#senha").keypress(function(event){
        if (event.keyCode == 13) {
            event.preventDefault();
            RealizarLogin();
        }        
      });

      $("#login").click(function(){
        RealizarLogin();
      });

      $("#btnConfirmar").click(function(){
        if($("#codConfirmacao").val() != ''){
         $.ajax({
              type: "PUT",
              url: '@Url.Action("AtualizaConvidado","Home")',
              data: { codConfirmacao : $("#codConfirmacao").val() },
              dataType: "json",
              success: function (data) {
                if(data != '')
                {
                  swal({
                    title: "Atenção:",
                    text: data,
                    icon: "error",
                    button: "OK"                      
                  });
                  $("#codConfirmacao").val("");
                }
                else
                {
                  swal({
                    title: "Obrigado por sua confirmação!",
                    icon: "success",
                    button: "OK"                      
                  });
                  $("#codConfirmacao").val("");                   
                }                
              }
          });
        }
        else{
            swal({
                    title: "Atenção:",
                    text: "Informe um código!",
                    icon: "warning",
                    button: "OK"                      
                });
        }          
      });

      function RealizarLogin()
      {
        if($("#usuario").val() != '' && $("#senha").val() != ''){
            $.ajax({
                type: "POST",
                url: '@Url.Action("VerificaUsuario","Home")',
                data: { login : $("#usuario").val(), senha : $("#senha").val() },
                dataType: "json",
                success: function (data) {
                  if(data.retorno != '')
                  {
                    swal({
                      title: "Atenção:",
                      text: data.retorno,
                      icon: "error",
                      button: "OK"                      
                    });
                  }
                  else
                  {
                    var url = '@Url.Action("ListaConvidado", "Convidado", new { nomeUsuario = "param1", idUsuario = "param2" })';
                    url = url.replace('amp;', '');
                    url = url.replace('param1', encodeURIComponent(data.nomeUsuario));
                    url = url.replace('param2', encodeURIComponent(data.idUsuario));
                    window.location.href = url;                     
                  }                
                }
            });             
        }
        else{
          swal({
                title: "Atenção:",
                text: "Informe usuário e senha!",
                button: "OK"
              });
        }
      }

    </script>
  </body>
</html>
