@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
  </head>
  <body>
    <div id="wrap">
      <div id="regbar">
          <div id="navthing">
            <h3><a href="#" id="menuLogin">Acesso Restrito</a></h3>
            <div id="menu" class="loginForm">
              <div class="arrow-up"></div>
                <div class="formholder">
                  <div class="randompad">
                    <fieldset>
                      <label>Usuário:</label>
                      <input id="usuario" type="text" value="" placeholder="Informe o seu usuário..." />
                      <label name="password">Senha:</label>
                      <input id="senha" type="password" placeholder="Informe sua senha..." />
                      <input id="login" type="submit" value="Login" style="cursor: pointer;"/>
                    </fieldset>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer style="padding-left: 2%;">
            <p style="color: white;">&copy; 2018 - Desenvolvido por Samuel Reis</p>
        </footer>
    </div>

    <environment include="Development">
          <script src="~/lib/jquery/dist/jquery.js"></script>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>        
          <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
          <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
          <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <script>
      $("#menuLogin").click(function(){
        $("#usuario").val("");
        $("#senha").val("");
        $(".loginForm").fadeToggle("slow");
        $(this).toggleClass("green");        
      });

      $(".loginForm").mouseleave(function(){
         $(".loginForm").fadeToggle("slow");
      });

      $("#senha").keypress(function(event){
        if (event.keyCode == 13) {
            event.preventDefault();
            RealizarLogin();
        }        
      });

      $("#login").click(function(){
        RealizarLogin();
      });

      function RealizarLogin()
      {
        if($("#usuario").val() != '' && $("#senha").val() != ''){
            $.ajax({
                type: "POST",
                url: '@Url.Action("VerificaUsuario","Home")',
                data: { login : $("#usuario").val(), senha : $("#senha").val() },
                dataType: "json",
                success: function (data) {
                  if(data != '')
                  {
                    swal({
                      title: "Atenção:",
                      text: data,
                      icon: "warning",
                      button: "OK"                      
                    });
                  }
                  else
                  {
                     window.location.href = '@Url.Action("ListaConvidado", "Convidado")';
                  }                
                }
            });            
        }
        else{
          swal({
                title: "Atenção:",
                text: "Informe usuário e senha!",
                button: "OK"
              });
        }
      }

    </script>
  </body>
</html>
