<div class="row">
    <div class="col col-md-12" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <div class="text-center">
            <div class="formholder">
                <div class="randompad">
                <fieldset>
                    <label>Prezado convidado, por favor informe o código anexado ao seu convite para confirmar a sua presença:</label>
                    <input id="codConfirmacao" type="text" value="" placeholder="Informe o código aqui..." />
                    <button id="btnConfirmar" class="btn btn-success" style="cursor: pointer;">Confirmar</button>
                </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>